*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    header
        background: url(../images/backback.png)
        height: 70vh
        background-position: center
        .yo
            gap: 0rem !important
        li
            padding: 1vh
            color: #ffff
            margin: 0
            list-style-type: none
            &:hover
                background-color:#c42d40
        .nav1
            align-self: center
            border-top: 1px solid #ffff
            border-bottom: 1px solid #ffff
        .nav2
            align-self: center    
            border-top: 1px solid #ffff
            border-bottom: 1px solid #ffff     
    .bam
        background: url(../images/main_bg.jpg)
    .geant
        height: 30vh
    .ici
        p
            margin-bottom: 0rem
            font-size: 1.5vh
        button
            height: 30px
            color: #c42f43
            border: none
            margin-right: 1vh
            width: 8vh
    .arondie
        border-radius: 100px
        height: 100px
    .pam
        background-color: #ffff
    .fond
        background: url(../images/team_background.jpg)
    .blanc
        color: #ffff
    span
        color: #c42d40
    .fond2
        background: url(../images/book_table_bg.jpg)
        border-radius: 10px
    .sep
        input
            border-radius: 10px
            height: 5vh
            margin: 10px
    .zb
        border-radius: 30px
        width: auto
        padding: 15px
        background-color: #c42f43
        border: none
        color: #ffff
    .jep
        align-items: flex-end
        padding: 10px