* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header {
  background-image: url(../../public/images/banner1.jpg);
  background-color: #282828;
  background-blend-mode: multiply;
  background-size: cover;
  height: 100vh;
  border-bottom: 15px solid transparent !important;
  border-image: url("../../public/images/bottom_decoration_img.png") repeat !important;
  border-image-slice: 30 !important;
}
body header .jin {
  margin-left: 120px;
}
body header .nav-hover ul li:hover {
  background-color: #c42f43;
}
body header .nav-main {
  margin-left: 250px;
}
body header .border-nav {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
body header .carou1 {
  margin-top: 200px;
}
body header .font-carou {
  color: white;
}
body header .occasion {
  font-size: 50px;
}
body header .taste {
  font-size: 50px;
  color: #c42f43;
}
body header .makes {
  font-size: 40px !important;
}
body header .btn-1 {
  font-size: 11px;
  padding: 0.5rem;
}
body header .btn-2 {
  background-color: #c42f43;
  font-size: 11px;
  padding: 0.5rem;
  color: white;
}
body header .carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
}
body header .carousel-indicators button.active {
  width: 5px !important;
  height: 5px !important;
  border-radius: 100%;
  border: 1.5px solid white !important;
  margin: 1px !important;
  background-clip: content-box !important;
  padding: 0.2rem !important;
  margin-top: 8px !important;
}
body .bam {
  background: url(../images/main_bg.jpg);
}
body .geant {
  height: 30vh;
}
body .ici p {
  margin-bottom: 0rem;
  font-size: 1.5vh;
}
body .ici button {
  height: 30px;
  color: #c42f43;
  border: none;
  margin-right: 1vh;
  width: 8vh;
}
body .arondie {
  border-radius: 100px;
  height: 100px;
}
body .pam {
  background-color: white;
}
body .fond {
  background: url(../images/team_background.jpg);
}
body .blanc {
  color: white;
}
body span {
  color: #c42d40;
}
body .fond2 {
  background: url(../images/book_table_bg.jpg);
  border-radius: 10px;
}
body .sep input {
  border-radius: 10px;
  height: 5vh;
  margin: 10px;
}
body .zb {
  border-radius: 30px;
  width: auto;
  padding: 15px;
  background-color: #c42f43;
  border: none;
  color: white;
}
body .jep {
  align-items: flex-end;
  padding: 10px;
}
body .pich img {
  height: 25vh;
  width: 40vh;
  border-radius: 1rem;
  border: 5px solid #aaaaaa;
}
body .pich button {
  height: auto;
  border-radius: 10px;
  background-color: #c42f43;
  border: none;
  color: white;
  width: 30vh;
  padding: 1vh;
  transform: translateY(-20px);
  margin-left: 5vh;
}
body .az button {
  margin-top: 10vh;
  height: auto;
  border-radius: 20px;
  background-color: #c42f43;
  border: none;
  color: white;
  width: auto;
  padding: 2vh;
}
body .azp {
  background: url(../images/testimonials_background.jpg);
}
body .azp h1 {
  color: white;
}
body .azp p {
  color: white;
}
body .azp h2 {
  color: white;
}
body .jo {
  border-radius: 140px;
  border: 5px solid white;
  margin: 10px;
}
body .ici {
  border: 2px solid white;
  border-radius: 10px;
  width: 40vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .pamm {
  background: url(../images/main_bg.jpg);
}
body .izi {
  border-radius: 10px;
  background-color: #c42f43;
  color: #fff;
}
body .pampam {
  background: url(../images/footer_background.jpg);
  background-size: cover;
  color: #fff;
}
body .bembem {
  color: #fff;
  border: 2px solid #fff;
  background-color: #c42f43;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
}
body .bep {
  background-color: #c42f43;
  height: 8vh;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav-main {
    right: 270px !important;
    margin-left: 0 !important;
    background-blend-mode: multiply;
  }
  .nav-main ul {
    background-color: #282627;
    opacity: 0.9;
  }
  .nav-main ul li a {
    color: white !important;
  }

  .ab {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ici {
    width: 100%;
  }
  .ici img {
    display: flex;
  }

  .poz {
    text-align: center;
  }

  .jap {
    width: 50px;
  }

  .jep {
    margin-left: -35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .ici {
    width: 100%;
  }

  .jin {
    margin-left: -170px !important;
  }

  .nav-main {
    margin-left: 40px;
    font-size: 12px;
  }

  .joa {
    margin-left: 70px;
  }

  .pampam {
    display: flex;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
